h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

table, th, td {
  border: 1px solid black;
}

input, p {
  display: inline-block;
}
.error{
  color: red;
}

input{
  width: 5vw;
}