<h1 xmlns="http://www.w3.org/1999/html">Hello World {{title}} <br/>
    {{card.cardVal}} of {{card.suit}} <br/>
</h1>

<ul>
    <li  *ngFor="let jason of test1; let i = index;">
        <div *ngIf="yoda==true">{{i}}.  {{jason.name}} --- {{jason.Gender}}</div>
    </li>
</ul>

<table style="width: 10vw">
    <tr *ngFor=" let teach of cardss">
        <th>{{teach.cardVal}}</th>
        <th>{{teach.suit}}</th>
    </tr>
</table>

<!--If yoda is true it shows it-->
<div *ngIf="yoda">{{test1[0].name}} {{card.suit}}</div>
<br>

<!--A function -->
<button (click)="firstFunction()"> toogle</button>

How to make inputs with 2 way data binding.
the value before ":" is what will appear befor the input box
Card Value :  <input [(ngModel)] = "card3.cardVal">
Suit       :  <input [(ngModel)] = "card3.suit">
