
<!-- Submit feedback -->
Email: <input [(ngModel)]="emailAddress"><br/>
Feedback:  <input [(ngModel)]="feedbackMsg">

<button (click)="postFeedback()">Submit Feedback</button>

<!-- Show result from Post -->
<div *ngIf="feedbackResponseMsg">{{feedbackResponseMsg}}<br/>
  {{feedbackResponseStatus}}</div>
<br/>
<button (click)="convertToF()">Get Fahrenheit</button><br/>
<button (click)="convertToC()">Get Celsius</button><br/>
`,
// Providers allow us to inject an object instance through the constructor.
providers: [MyRemoteService]

